* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sky {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  background: #3c3a39;
  height: auto;
  left: 0;
  top: 0;
  flex-wrap: wrap;
  width: 100%;
  margin-right: 20px;
}

.sky h3 {
  width: 67px;
  height: 2px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 11px;
  display: flex;
  align-items:initial;
  color: #fff;
  margin-left: 10px;
  flex: none;
  text-align: center;
  
}

#sky {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-right: 20px;
  margin-bottom: 10px;
  float: right;
  margin-top: 20px;
}

#sky img {
  display: flex;
  right: 16.67%;
  left: 16.67%;
  height: 2px;
  width: 22px;
  border: 2px solid #acb7c3;
  margin-bottom: 3px;
}

.cell {
  background-image: url(./images/Illustration.png);
  background-position-y: 120%;
  background-color: #1c1a19;
  display: grid;
  justify-content: space-around;
  text-align: left;
  height: auto;
  width: auto;
  padding: 120px 24px;
  gap: 12px;
  background-position: right bottom;
  background-size: 140px;
  background-repeat: no-repeat;
  flex-direction: column;
}

.cell h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.cell h3 {
  width: 327px;
  height: 27px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.cell p {
  flex-wrap: wrap;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex-grow: 0;
}

ul {
  list-style-type: none;
}

.page {
  flex-wrap: wrap;
  padding: 5px;
  font-size: 22px;
  display: flex;
  flex-direction: row;
}

.page li {
  padding: 5px;
}
