@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@100&family=Poppins&family=Roboto:ital,wght@0,100;0,300;0,700;1,100&display=swap');

@media (max-width: 768px) {
  .notif-bar ul,
  .essage-icon,
  .social-Dskt,
  .group1,
  .group2,
  .dskt-about-skills {
    display: none;
  }
}

/* Introduction section */
.notif-bar {
  height: 92px;
  background-color: #3c3a39;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 24px 0 24px;
}

.notif-bar h4 {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  height: fit-content;
  width: fit-content;
  float: left;
}

.hamburger {
  height: 12px;
  float: right;
  width: fit-content;
  margin-bottom: 29px;
}

.introduction {
  background-image: url(images/Illustration.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 120px 6.4%;
  background-color: #1c1a19;
  height: 590px;
}

.introduction h1 {
  width: 87.2%;
  height: fit-content;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-bottom: 0;
  overflow: hidden;
  margin-top: 0;
}

.introduction h3 {
  width: 87.2%;
  height: 27px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
}

.introduction p {
  width: 87.2%;
  height: 123px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  overflow: hidden;
}

.social {
  display: flex;
  gap: 20px;
  align-items: center;
  list-style: none;
}

.Illustration {
  position: absolute;
  border-bottom-right-radius: 10px;
  height: fit-content;
  width: 100px;
}

/* My works section */

.Second-Page {
  padding: 120px 6.4% 60px 6.4%;
}

.Works h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 270%;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #1c1a19;
  width: 100%;
}

.image_one {
  padding-top: 80px;
  width: 100%;
}

.Works h3 {
  width: 100%;
  height: 36px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
}

.Works p {
  width: 100%;
  height: 147px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.Works ul {
  display: flex;
  gap: 3.2%;
  list-style-type: none;
  width: 79.2%;
  padding: 0;
  height: 40px;
}

.Works li {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: fit-content;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
}

.Works button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  background: #ff6b00;
  border: none;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.About-Me button {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 161px;
  height: 48px;
  background: #ff6b00;
  color: #fff;
  border: none;
  margin-top: 24px;
}

.Works button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
}

.Cards-Bunch {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* The About me section */

.Third-page {
  background-image: url(images/Group.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 120px 6.4%;
  background-color: #1c1a19;
  height: 450px;
}

.About-Me h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-bottom: 24px;
  margin-top: 0;
}

.About-Me p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.About-Me button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
}

.horizontal-line {
  margin: -3px 10% 0 10%;
  color: #fff;
}

.horizontal-line hr {
  margin-top: 0;
  margin-bottom: 0;
}

/* About skills */

.Achievements {
  padding: 136px 6.2% 131.54px 6.3%;
  background-color: #1c1a19;
}

@font-face {
  font-family: InaiMathi;
  src: url(InaiMathi.ttf);
}

.About-skills h3 {
  color: #f4f5f7;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 10px;
}

.About-skills li {
  color: #f4f5f7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  padding-bottom: 30px;
}

/* form section */

.form-section {
  padding: 120px 24px;
  display: flex;
  justify-content: center;
}

.form-section h2 {
  width: 327px;
  height: 216px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

#form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
  font-family: 'Inter', sans-serif;
}

#form-section h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #172b4d;
  text-align: center;
  line-height: 2.5rem;
  padding: 0 2rem;
}

#form-section fieldset {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  border: none;
}

.inputs {
  padding: 1.2rem;
  width: 80vw;
  border: none;
  font-size: 1rem;
  line-height: 1.5rem;
  border-bottom: 1px solid #dbd8d7;
}

#comments {
  height: 6rem;
  background-color: #fbf8f7;
  border: none;
  padding: 1.2rem;
  margin-bottom: 1.2rem;
}

.gap {
  margin-right: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #dfe1e6;
  padding: 0 2rem 2rem 2rem;
}

input:valid {
  outline: none;
}

input:focus:invalid {
  outline: thin solid red;
}

#form-icons {
  width: 100%;
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.small.hidden {
  display: none;
}

.small.show {
  color: red;
}

#submit {
  background-color: #f55800;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: #fff;
  border: none;
  font-size: 1.1rem;
  padding: 0.7rem;
}

#submit:hover{
  background-color:#fff5e1 ;
  color:#f55800 ;
}
 #submit:active{
  background-color: #e05304;
  color: #f4f1f0;
 }