* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sky {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  background: #3c3a39;
  height: auto;
  left: 0;
  top: 0;
  flex-wrap: wrap;
  width: 100%;
  margin-right: 20px;
}

.sky h3 {
  width: 77px;
  height: 24px;
  font-family: 'Roboto'sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#sky {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-right: 20px;
  margin-bottom: 10px;
  float: right;
  margin-top: 20px;
}

#sky img {
  display: flex;
  right: 16.67%;
  left: 16.67%;
  height: 2px;
  width: 17px;
  border: 1px solid #fff;
  margin-bottom: 3px;
}

.cell {
  background-image: url(./images/Illustration.png);
  background-position-y: 120%;
  background-color: #1c1a19;
  display: grid;
  justify-content: space-around;
  text-align: left;
  height: auto;
  width: auto;
  padding: 161px 24px;
  gap: 12px;
  background-position: right bottom;
  background-size: 140px;
  background-repeat: no-repeat;
  flex-direction: column;
}

.cell h1 {
  width: 320px;
  height: 120px;
  font-family: 'Crete Round'sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.cell h3 {
  width: 327px;
  height: 27px;
  font-family: 'Roboto'sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.cell p {
  width: 327px;
  height: 123px;
  font-family: 'Poppins'sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
}

ul {
  list-style-type: none;
}

.page {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 200px;
  height: 40px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.page li {
  padding: 5px;
}
